body, html {
	width: 100%; //fallback
	height: 100%;
	padding: 0;
	margin: 0;
}

#page {
	width: 100%; //fallback
	margin: 54px 0;

    &:after {
        content: "";
        display: block;
        height: 64px;
    }
}

#header {
	position: fixed;
	top: 0;
	left: 0;
    right: 0;

	padding: 10px;
    background: #222222;
    color: #EEEEEE;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        font-size: 24px;
        color: inherit;
    }
}

.site-title,
.site-title > * {
	@extend %head-title;
	text-align: center;
	margin-top: 0 !important;
	text-decoration: none;
	text-transform: uppercase;
}

.o-layout {
	display: flex;
	justify-content: center;
}

.o-layout__main {
	flex-grow: 1;
}

.o-layout__side {
	@include spacing(padding-left, 4rem);
	flex-basis: 400px;
	flex-shrink: 0;
}
