body {
    background: #2A2A2A;
    color: #EEEEEE;
}

html, body, #page {
    height: 100%;
}

.add-match {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-match-home,
.add-match-away {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.add-match-avatar {
    width: 96px;
    height: 96px;
    flex-basis: 96px;
    flex-shrink: 0;

    img {
        display: block;
    }
}

.add-match-content {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: auto;

    > * {
        margin-left: 20px;
    }
}

.add-match-controls {
    display: flex;
    margin-top: auto;
}

.add-match-player {
    color: white;
    border: 0;
    background: transparent;
    outline: 0;
}

.add-match-info {
    overflow: hidden;
}

.add-match-score {
    background: transparent;
    color: white;
    border: 0;
    font-size: 48px;
}

.add-match-increase {
    background: green;
    color: white;
}

.add-match-decrease[class] {
    display: none;
    background: red;
    color: white;
}

.add-match-confirm,
.add-match-controls {

    button {
        display: block;
        border: 0;
        width: 100%;
        padding: 20px;

    }
}

.badge-list {
    padding: 20px;

    > li + li {
        margin-top: 10px;
    }

    > li > a {
        display: flex;
        align-items: center;
        color: inherit;
        text-decoration: none;
    }

    h1 {
        font-size: 18px;
    }

    img {
        width: 20%;
        height: auto;
        margin-right: 20px;
    }
}

.home .js-back{
    display: none;
}