.gallery-icon img {
	width: 100%;
}

.screen-reader-text {
	display: none;
}

.c-gallery--portfolio {
	.c-card__title {
		order: -1;
	}
}

iframe, img {
	max-width: 100%;
}

figure[style*="width"] {
	width: auto !important;
}

body .jetpack-social-navigation ul {
	margin-bottom: 0;

	li[class] a:after {
		content: none;
	}
}

.entry-content {

	.cats > a {
		@include btn;
	}

	.cats__title {
		display: none;
	}
}

.entry-header + .js-header-height-padding-top {
	padding-top: 0 !important;
}

.entry-title {
	//@include spacing(padding-top, 3rem);
	@include spacing(padding-bottom, 4rem);
}

// GRIDABLE WTF
[class*="c-gallery"][class*="col-"] {
	width: auto;
	max-width: none;
}

img {
	transition: $transition--default;

	&:not(.is-loaded) {
		opacity: 0;
	}
}
