%head-title {
	font-size: 30px;
	font-weight: bold;
	color: $color-text;
	margin-top: 20px;
}

%sub-title {
	font-size: 20px;
	color: $color-golden;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}

%img-size {
	width: 200px;
}

%wrapper-content {
	text-align: center;
	padding: 20px;
}

%row-widget {
	text-align: left;

	> ul {
		width: 100%;
		display: block;
		white-space: nowrap;
		overflow: auto;
		margin-top: 10px;

		> li {
			display: inline-block;
			width: 60px;
			height: 60px;
			border: 2px solid $color-light-grey;
			border-radius: 15%;
			overflow: hidden;
			margin: 0 2px;

			&:nth-child(1) {
				margin-left: 0;
			}
		}
	}
}

%row-title {
	text-transform: uppercase;
	margin-top: 20px;
}


.author-profile-card {
	@extend %wrapper-content;

	.user-name {
		@extend %head-title;
	}
	.user-photo > img {
		@extend %img-size;
	}
	.user-xp {
		@extend %sub-title;
	}
	.badges-title {
		@extend %row-title;
	}
}

.user-badges {
	@extend %row-widget;
}