.single-badge {
    @extend %wrapper-content;

    .badge_thumbnail {

        > img {
            @extend %img-size;
            border-radius: 15%;
        }
    }
    .badge_title {
        @extend %head-title;
    }
    .badge_owned {
        @extend %sub-title;

        &.not {
            color: #555;
        }
    }

    .badge_content {
        font-size: 18px;
        font-weight: bold;
        color: $color-light-grey;
        padding: 15px 20px;
    }
}