.comments-area {
	@include spacing(margin-top, 8rem);
}

.comment {
	position: relative;

	& + & {
		@include spacing(margin-top, 2rem);
	}

	.edit-link {
		position: absolute;
		top: 0;
		right: 0;
	}

	.children {
		@include spacing(margin-left, 3rem);
		@include spacing(margin-top, 2rem);

		@include below(lap) {
			margin-left: 0;
		}
	}
}

.comment-list,
.comment-respond {
	@include spacing(margin-top, 3rem);
}

.comment-list + .comment-respond {
	@include spacing(margin-top, 4rem);
}

.comment__wrapper {
	display: flex;
}

.comment__body {
	> * + * {
		@include spacing(padding-top, 1rem);
	}
}

.comment__avatar {
	flex: 0 0 auto;
	@include spacing(margin-right, 2rem);

	.avatar {
		border-radius: 50%;
	}
}

.pingback,
.trackback {
}

.comment__author {
}

.says {
	display: none;
}

.comment__metadata {
}

.comment__content {
}
