$progress-bar-height: 10px !default;

.c-progress {
	position: relative;
	width: 100%;
	height: $progress-bar-height;
}

.c-progress__indicator {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	background-color: currentColor;
}

// too specific
.c-progress {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
